
<doctype html>
	<html lang="eng">
	<head>
		<meta charste="utf-8">
		<meta content = "width=device-width, initial-scale = 1.0" name="viewport">
		<link rel="stylesheet" type="text/css" href="Practice.css">
		<script type="text/javascript" src="Practice.js"></script>
		<title> Oswald's Resume</title>
	</head>





	<body class = 'main'>

		<div id= "sheet">
			<h2 id = "name">Oswald Gyabaah</h2>
			<div id = "address">
				Address: PMB CT 3, Cantonments - Accra, Ghana.<br>
				Phone: +233554134307 / +233204061166 &#045 &#045 Ghanaian 	<br>
				Email: Mensah.o.g@gmail.com / oswald.gyabaah@ashesi.edu.gh<br>
				LinkedIn: www.linkedin.com/in/kosmeg
			</div>
			<div id= "category">Education</div>
			<hr />

			<div id="title">
				Ashesi Uninversity College <span id = "date">Berekuso, Eatern Region</span><br>
				BSc. Computer Engineering <span id="date">Expected Date of Graduation: June 2020</span><br>
				GPA:  3.30
				<p> Relevant courses</p>
			</div>
			<table>
				<ul>
					<tr>
	 					<td><li>Foundations of design and Entrepreneurship</li></td>
						<td><li>Physics (Mechanics &amp Electromagnetism)</li></td>
					</tr>

					<tr>
						<td><li>Differencial and Integral Calculus</li></td>
						<td><li>Programming for Engineers(Python)</li></td>
					</tr>

					<tr>
		 				<td><li>Applied programming for engineers(MATLAB)</li></td>
						<td><li>Multivariable Calculus and Linear Algebra</li></td>
					</tr>

					<tr>
						<td><li>Statistics and Probability</li></td>
					</tr>
				</ul>
			</table>
			<br>

			<div id="category">Achievements/Awards</div>
			<hr>
			<span id="title">The MasterCard Foundation Scholars Program scholarship</span> &#045 Ashesi University College <span id="date">2016 &#045 2020</span>
			<div id="category"><p></p>Work experience</div><hr>

			<span id="title">Ashesi University College</span> <span id="date"> September 2017 &#045 &#045 Present</span><br />
			<span>Students&#039 Residence Assistant</span><p> </p>
			<ul id="items">
				<li>Attends to students&#039 concerns in the residence halls and gives residence-related information to students.</li>
				<li>Ensures peaceful, hygienic, and friendly environment in student residence halls.</li>
				<li>Assists the Office of Students and Community Affairs in welcoming and settling new students in.</li>
			</ul>

			<span id="title">The Cobalt Partners</span> &#045 Accra, Ghana  <span id = "date">May 2017 &#045 Present</span><br>
				<span id="title">Cocoa Farmers&#039 Design thinking project</span>
				<ul id="items">
					<li>Coached participants of a design thinking project at Suhum to generate ideas on how to improve transportation of water.</li>
					<li>Made recommendations for improvement of design thinking modules to suit the participants&#039 level of knowledge.</li>
				</ul>
				<p></p>


			<div id="title">Ashesi University College</div>	<span id="date"> January &#045 July 2017</span>
			<div id="title">Library Assistant</div>
			<ul id='items'>
				<li>Managed and offered University library services to students</lu>
				<li>Ensured that library Users do not violate Library and University regulations</li>
				<li>Maintained serene, and orderly environment for library users, and checked the state of library facilities.</li>
			</ul>
			<p></p>
		</div>
	</body>
</html>

