<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>

 <section id="projects">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Projects</h3>
          <p class="section-description">Below are some of my key projects. Most are still in progress.</p>
        </div>
        <div class="row" id="projects-accordion">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
              <h4 class="title"><a href="">Solar Power Generation</a></h4>
              <p class="description">Worked, in collaboration with Engineers Without Boarders USA, on the Sumaman Senior High school Solar power project that Generates 2.5kW of Energy for the school.
                <br> This Volunteering, Humanitarian project has reduced the Schools Electricity cost significantly</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href="#"><i class="fa fa-bar-chart"></i></a></div>
              <h4 class="title"><a href="#">Autonomous Irrigation</a></h4>
              <p class="description">Designed and built an autonomous irrigation system that runs on solar power, determines when soil moisture is too low and what quantity of water is needed</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href="#"><i class="fa fa-paper-plane"></i></a></div>
              <h4 class="title"><a href="#">Ashesi Mentorship Program</a></h4>
              <p class="description"> Imagine the task of having to manually identify the interests of a large group of corporate mentors and matching them with similar number of students, with each according pair according to their shared interests?
                <br> When I was appointed to be part of a team responsible for this mundane task in my school's career department, the first question I asked myself was: "of what use could my programming skills be to this office?
                what if I could task some little snippet of code with this call and use my time for something else"<br>
              Well that's what I did! I offered to to write code to do the pairing whilst everybody else focused on some important things like holding sessions for students.
              After the director Career services sent me an email expressing her profound appreciation, with the dean of students in copy, I thought there was something more I could do. what if I could build an online application where people dont have to deal messy code but could
                get the same task done even when I have graduated? currently, the project is underway and expected to be ready by early next year.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href="#"><i class="fa fa-photo"></i></a></div>
              <h4 class="title"><a href="#">Project Rummie</a></h4>
              <p class="description panel-body">
                "The room selection will begin tomorrow at 6am and all participants are expected to be or risk missing it"
                <br> Annually, the announcement goes something like above and all students are supposed to converge at the courtyard.
                We have to manually look through printed pages of spreadsheet for our desired rooms someone crosses out names and rooms that have
                already been taken. <br>
                Making use of my technical skills and empathy, I started project rummie which is currently about 60% complete and in my git repository
                This project, when completed, will remove the need queue or do anything manually. participating students simply sign up online and express interest by a button click, done!
                Later in the process they have a chance to select their preferred roommates from the existing list of registered participants. On a date set by the admin, everyone gets invited to choose
                rooms, again with a click, Voila!!

              </p>
            </div>
          </div>
        <!--
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-road"></i></a></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-shopping-bag"></i></a></div>
              <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div>
        -->
        </div>

      </div>
    </section><!-- #projects --uncomment>

</html>